body{
    background:linear-gradient(45deg,#393838,#080000);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Titulo{
    background-color: #393838;
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 50px;
    color: #f0e9e9;
    align-items: center;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;   
}
.Intro iframe{
    border: 0px;
    width: 392px;
    height: 100%;
}
.Barra_boton{
    margin-top: 20px;
}
.Barra_lateral{
    position: fixed;
    left: -250px;
    top: 0;
    bottom: 0;
    width: 80px;
    background-color: rgba(64, 60,60,0.8);
    transition: left 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Barra_lateral button{
    width: 80px;
    height: 80px;
    border: none;
    background-color: #faf7f7;
    cursor: pointer;
    padding: 0;
}
.Barra_lateral button.btInico{
    background-image: url('incio..png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}
.Barra_lateral button.btnsiguiente{
    background-image: url('siguiente.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}
.Barra_lateral button.btnregreso{
    background-image: url('siguiente.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}
.Barra_lateral button:hover{
    background-color: #ddd;
    
}